session.json
session.key
__pycache__/
*.pyc
Komet-main
*.zip
chats_cache.json
messages_cache.json
lottie.min.js
maxclient-release.jks
new_settings_menu.md
device_catalog.json
ключ подписи(не вкладыать).jks